<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zakiis.springboot.test.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zakiis.springboot.test.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="res_address_id" jdbcType="BIGINT" property="resAddressId" />
  </resultMap>
  
  <resultMap id="UserBOResultMap" type="com.zakiis.springboot.test.bo.UserBO" extends="BaseResultMap">
    <association property="residenceAddress" column="res_address_id" select="com.zakiis.springboot.test.mapper.AddressMapper.selectByPrimaryKey" />
  </resultMap>
  
  <resultMap id="UserBOResultMap2" type="com.zakiis.springboot.test.bo.UserBO" extends="BaseResultMap">
    <association property="residenceAddress" columnPrefix="addr_" resultMap="com.zakiis.springboot.test.mapper.AddressMapper.BaseResultMap"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    id, username, password, name, res_address_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectUserBOByPrimaryKey" parameterType="java.lang.Long" resultMap="UserBOResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectUserBOByExample" parameterType="com.zakiis.springboot.test.model.User" resultMap="UserBOResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    <where>
      <if test="username != null">
        and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="resAddressId != null">
        and res_address_id = #{resAddressId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  
  <select id="selectUserBOByNameAndCity" parameterType="com.zakiis.springboot.test.model.User" resultMap="UserBOResultMap2">
    select a.id, a.username, a.password, a.name,
	b.id addr_id, b.country addr_country, b.province addr_province, b.city addr_city, b.region addr_region, b.street addr_street, b.details addr_details from `user` a
	inner join address b on a.res_address_id  = b.id 
	where a.name = #{name,jdbcType=VARCHAR} and b.city = #{city,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="truncate">
  	truncate table user
  </delete>
  
  <insert id="insert" parameterType="com.zakiis.springboot.test.model.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (id, username, password, 
      name, res_address_id)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{resAddressId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zakiis.springboot.test.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="resAddressId != null">
        res_address_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resAddressId != null">
        #{resAddressId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zakiis.springboot.test.model.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resAddressId != null">
        res_address_id = #{resAddressId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zakiis.springboot.test.model.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      res_address_id = #{resAddressId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>